# Security (NEVER UPLOAD THIS)
.env

# Python junk
__pycache__/
*.py[cod]
venv/

# Node/React junk (Too heavy, others install via npm install)
node_modules/
frontend/node_modules/
dist/
.DS_Store

# Codespace specific
.devcontainer/