langchain
langgraph
langchain-groq
langchain-community
langchain-huggingface
pypdf
tiktoken
fastapi
uvicorn
python-dotenv
llama-parse
langchain-pinecone
pinecone
nest_asyncio
python-docx
python-multipart