langchain
langgraph
langchain-groq
langchain-community
pypdf
tiktoken
fastapi
uvicorn
python-dotenv
langchain-huggingface
faiss-cpu
llama-parse
langchain-pinecone
pinecone-client
nest_asyncio
python-docx